html {
  scroll-behavior: smooth;
}

.text-animate:after {
  content: "_";
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.btn:focus {
  outline: none;
}

.btn:focus-visible {
  box-shadow: 0 0 0 3px rgba(66, 153, 255, 0.6);
}

.projects::before {
  content: "{ ";
  color: gainsboro;
}

.projects::after {
  content: " }";
  color: gainsboro;
}

.skills::before {
  content: "< ";
  color: gainsboro;
}

.skills::after {
  content: " >";
  color: gainsboro;
}

.contact::before {
  content: "[ ";
  color: gainsboro;
}

.contact::after {
  content: " ]";
  color: gainsboro;
}
